selenium==4.15.2
requests==2.31.0
beautifulsoup4==4.12.2
fake-useragent==1.4.0
pyvirtualdisplay==3.0
colorama==0.4.6
lxml==4.9.3
urllib3==1.26.18
certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.6
soupsieve==2.5
